<a href="https://colab.research.google.com/github/ankit-genzeon/AI-ML-Bootcamp-Genzeon-2023/blob/master/C6_AI_ML_CROP_PREDICTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
Dataset = '/content/drive/MyDrive/Colab Notebooks/DataSet/Crop_recommendation.csv'
df = pd.read_csv(Dataset)

In [ ]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.pairplot(df, hue='label')
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt


# Boxplot for each feature with respect to the target variable
for feature in df.columns[:-1]:
    plt.figure(figsize=(8, 6))
    sns.boxplot(x='label', y=feature, data=df)
    plt.title(f"{feature} vs. Crop Type")
    plt.xticks(rotation=45)
    plt.show()

# Violin plot for each feature with respect to the target variable
for feature in df.columns[:-1]:
    plt.figure(figsize=(8, 6))
    sns.violinplot(x='label', y=feature, data=df)
    plt.title(f"{feature} vs. Crop Type")
    plt.xticks(rotation=45)
    plt.show()

In [ ]:
# No. of classes / crops to recommend
num_classes = df['label'].unique().shape[0]
classes = df['label'].unique()

print("Number of classes:", num_classes)
print("Classes:", classes)

Number of classes: 22
Classes: ['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']

In [ ]:
# Checking for null values
df.isna().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

label_encoder = LabelEncoder()
df['label'] = label_encoder.fit_transform(df['label'])

predicted_crop_decoded = label_encoder.inverse_transform(df['label'])
df['original_label']= predicted_crop_decoded


# Data preprocess
X = df.drop('label', axis=1)
X = X.drop('original_label', axis=1)
y = df['original_label']

# Split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Feature Scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# SVM Model Training
svm = SVC(kernel='rbf', C=1.0)  # You can adjust the kernel and C value as per your requirement
svm.fit(X_train_scaled, y_train)

#Step 4: Model Evaluation
y_pred = svm.predict(X_test_scaled)

# Lets calculate the accuracy now
accuracy = accuracy_score( y_test, y_pred)
print("Accuracy:", accuracy*100)

df

Accuracy: 96.81818181818181

,N,P,K,temperature,humidity,ph,rainfall,label,original_label
0,90,42,43,20.879744,82.002744,6.502985,202.935536,20,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,20,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,20,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,20,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,20,rice
...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,5,coffee
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,5,coffee
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,5,coffee
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,5,coffee
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,5,coffee

In [ ]:
# Step 6: Prediction
# # Assuming you have a new instance called X_new for which you want to predict the crop type
X_new = ([[90, 42, 43, 20.879744, 75, 5.5,220]])
X_new_scaled = scaler.transform(X_new)
predicted_crop = svm.predict(X_new_scaled)
# Assuming 'label_encoder' is the LabelEncoder object used for encoding
print("Predicted Crop:", predicted_crop)

Predicted Crop: ['rice']

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix


# 6. Model training and evaluation
model = GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
confusion = confusion_matrix(y_test, y_pred)
print('Accuracy:', accuracy)
print('Confusion Matrix:')
print(confusion)

Accuracy: 0.9954545454545455
Confusion Matrix:
[[23  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 21  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0 20  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 26  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0 27  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0 17  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0 17  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0 14  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0 23  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0 20  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0 11  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0 21  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0 19  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0 24  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 19  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 17  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 14  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 23  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 23  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 23  0  0]
 [ 0  0  0  0  0  0  0  0  2  0  0  0  0  0  0  0  0  0  0  0 17  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 19]]

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        23
      banana       1.00      1.00      1.00        21
   blackgram       1.00      1.00      1.00        20
    chickpea       1.00      1.00      1.00        26
     coconut       1.00      1.00      1.00        27
      coffee       1.00      1.00      1.00        17
      cotton       1.00      1.00      1.00        17
      grapes       1.00      1.00      1.00        14
        jute       0.92      1.00      0.96        23
 kidneybeans       1.00      1.00      1.00        20
      lentil       1.00      1.00      1.00        11
       maize       1.00      1.00      1.00        21
       mango       1.00      1.00      1.00        19
   mothbeans       1.00      1.00      1.00        24
    mungbean       1.00      1.00      1.00        19
   muskmelon       1.00      1.00      1.00        17
      orange       1.00      1.00      1.00        14
      papaya       1.00      1.00      1.00        23
  pigeonpeas       1.00      1.00      1.00        23
 pomegranate       1.00      1.00      1.00        23
        rice       1.00      0.89      0.94        19
  watermelon       1.00      1.00      1.00        19

    accuracy                           1.00       440
   macro avg       1.00      1.00      1.00       440
weighted avg       1.00      1.00      1.00       440